*{
  margin: 0px;
  padding: 0px;
  position:relative;
}

/* NAVBAR */
.nav{
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: left;
  gap: 380px;  
}
.side{
   display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
  gap: 30px;
  justify-content: center;
  font-weight: bold;
}
.clg{

  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  padding-bottom: 6px;
  padding-left: 30px;
}
.vec{
  height: 26px;
  width: 26px;
}
.img{
  height: 650px;
  width: 100%;
}
.app{
  background-color: #363D7A;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size:0.6em;
  height: 39px;
  width: 104px;
  right: -55px;
  letter-spacing: 0px;
  word-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  object-position: center;
  transition: all 0.4s linear;
  border: 1px solid  #363D7A ;
}
.app:hover{
  background-color: white;
  color:  #31D9F0;
  border: 1px solid #31D9F0 ;
}
.dd, .dd2{
  height: 7px;
  width: 10px;
  padding-bottom: 1px;
}
.link1{
  text-decoration: none;
  color: black;
  transition: all 0.4s linear;
}
.link1:hover{
  color:  #31D9F0 ;
  
}


/* dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

.content {
  display: none ;
  position: absolute;
  background-color: #363D7A;
  min-width: 100px;
  height: 62px;
  z-index: 1;
  color: white;
  text-decoration: none;
 padding: 3px;
  border: 1px solid black;
 
}

.dropdown:hover .content {
  display: block;
  
}

.a1{
  text-decoration:none;
  color: black;
  font-size: 0.7em;
  display: flex;
  align-items:center;
   transition: all 0.4s linear;
}
.a1:hover{
   color:#31D9F0;

}
.c1{
  display: flex;
  align-items:center;
  padding-left:10px;
  height: 30px;
  width: 89px;
 font-size: 0.7em;
 font-family: 'Abril Fatface', cursive;
  background-color: lightblue;
}

.c1:hover{
  border: 0.5px solid #404040;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5),0px 0px 10px 0px rgba(0,0,0,0.5);
}

.c2{
  display: flex;
  align-items:center;
  padding-left:10px;
  height: 30px;
  width: 89px;
 font-size: 0.7em;
 font-family: 'Abril Fatface', cursive;
  background-color: lightblue;
  bottom: -1px;
}
.c2:hover{
     border: 0.5px solid #404040;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5),0px 0px 10px 0px rgba(0,0,0,0.5);
}

.blog{
  font-size: 0.7em;
  top:-1px;
}

/*dropdown page */
.dropdown2 {
  position: relative;
  display: inline-block;
}

.pagecontent {
 display: none ;
  position: absolute;
  background-color: #363D7A;
  min-width: 100px;
  height: 123px;
  z-index: 1;
  color: white;
  text-decoration: none;
 padding: 3px;
  border: 1px solid black;
}


.dropdown2:hover .pagecontent {
  display: block;
}


.c3{
  display: flex;
  align-items:center;
  padding-left:10px;
  height: 30px;
  width: 89px;
 font-size: 0.7em;
 font-family: 'Abril Fatface', cursive;
  background-color: lightblue;
   bottom: -2px;
}
.c4{
   display: flex;
  align-items:center;
  padding-left:10px;
  height: 30px;
  width: 89px;
 font-size: 0.7em;
 font-family: 'Abril Fatface', cursive;
  background-color: lightblue;
   bottom: -3px;
}

.c3:hover{
 border: 0.5px solid #404040;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5),0px 0px 10px 0px rgba(0,0,0,0.5);
}
.c4:hover{
   border: 0.5px solid #404040;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5),0px 0px 10px 0px rgba(0,0,0,0.5);
}

.page{
  font-size: 0.7em;
  top:-1px;
} 


/* blog */
.onimg{
  background-image: url("/images/ourcourses.jpg");
  background-size: 100%;
  height:390px;
  width:100%;
}
.txt{
  top: 170px;
  font-family: 'Abril Fatface', cursive;
  width:50%;
 font-size: 2.5em;
  left: 120px;
  color: white;
}

/* para */
.para{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 40px 150px;
  font-size: 20px;
}
.sample{
  font-size: 30px;
  font-weight: bold;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}
.manydiv{
    display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  gap:20px;
}
.divline1{
    display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
}
.defg{
  padding:20px 40px;
  background-color: #C4C4C4;
  transition: 0.4s;
  border: 2px solid  #C4C4C4 ;
}
.defg:hover{
  padding:20px 40px;
  border: 2px solid  #C4C4C4 ;
  background-color: white;
}
.defw{
   padding:20px 40px;
  background-color: white;
  transition: 0.2s;
  border: 2px solid  white ;
}
.defw:hover{
  padding:20px 40px;
  border: 2px solid  #C4C4C4 ;
  background-color: #C4C4C4;
}

/* 2nd line */
.pri1{
  padding:20px 40px;
  background-color: #F56700;
  border: 2px solid #F56700;
  transition: 0.2s;
}
.pri1:hover{
  border: 2px solid #F56700;
  background-color:white;
}
.pri2{
  padding:18px 38px;
  border: 2px solid #F56700;
}
.pri2:hover{
  
}
.pri3{
  padding:20px 40px;
  background-color: #F56700;
  border-radius: 8px;
}
.pri4{
   padding:18px 38px;
  border: 2px solid #F56700;
}
.pri5{
  padding:20px 40px;
  background-color: #F56700;
  border-radius:15px;
}
.pri6{
   padding:18px 38px;
  border: 2px solid #F56700;
}
.pri7{
  padding:20px 40px;
  background-color: #F56700;
   border-radius:20px;
}
.pri8{
   padding:18px 38px;
  border: 2px solid #F56700;
}

/* 3rd line */
.suc1{
  padding:20px 40px;
  background-color: #21E2E2;
}
.suc2{
  padding:18px 38px;
  border: 2px solid #21E2E2;
}
.suc3{
  padding:20px 40px;
  background-color: #21E2E2;
  border-radius: 8px;
}
.suc4{
   padding:18px 38px;
  border: 2px solid #21E2E2;
}
.suc5{
  padding:20px 40px;
  background-color: #21E2E2;
  border-radius:15px;
}
.suc6{
   padding:18px 38px;
  border: 2px solid #21E2E2;
}
.suc7{
  padding:20px 40px;
  background-color: #21E2E2;
   border-radius:20px;
}
.suc8{
   padding:18px 38px;
  border: 2px solid #21E2E2;
}

/* 4th line */
.info1{
  padding:20px 40px;
  background-color: #3266CB;
}
.info2{
  padding:18px 38px;
  border: 2px solid #3266CB;
}
.info3{
  padding:20px 40px;
  background-color: #3266CB;
  border-radius: 8px;
}
.info4{
   padding:18px 38px;
  border: 2px solid #3266CB;
}
.info5{
  padding:20px 40px;
  background-color: #3266CB;
  border-radius:15px;
}
.info6{
   padding:18px 38px;
  border: 2px solid #3266CB;
}
.info7{
  padding:20px 40px;
  background-color: #3266CB;
   border-radius:20px;
}
.info8{
   padding:18px 38px;
  border: 2px solid #3266CB;
}

/* 5th line */
.warn1{
  padding:20px 40px;
  background-color: #FAC231;
}
.warn2{
  padding:18px 38px;
  border: 2px solid #FAC231;
}
.warn3{
  padding:20px 40px;
  background-color: #FAC231;
  border-radius: 8px;
}
.warn4{
   padding:18px 38px;
  border: 2px solid #FAC231;
}
.warn5{
  padding:20px 40px;
  background-color: #FAC231;
  border-radius:15px;
}
.warn6{
   padding:18px 38px;
  border: 2px solid #FAC231;
}
.warn7{
  padding:20px 40px;
  background-color: #FAC231;
   border-radius:20px;
}
.warn8{
   padding:18px 38px;
  border: 2px solid #FAC231;
}

/* 6th line */
.dang1{
  padding:20px 40px;
  background-color:#CE2222ED;
}
.dang2{
  padding:18px 38px;
  border: 2px solid#CE2222ED;
}
.dang3{
  padding:20px 40px;
  background-color:#CE2222ED;
  border-radius: 8px;
}
.dang4{
   padding:18px 38px;
  border: 2px solid#CE2222ED;
}
.dang5{
  padding:20px 40px;
  background-color:#CE2222ED;
  border-radius:15px;
}
.dang6{
   padding:18px 38px;
  border: 2px solid#CE2222ED;
}
.dang7{
  padding:20px 40px;
  background-color:#CE2222ED;
   border-radius:20px;
}
.dang8{
   padding:18px 38px;
  border: 2px solid#CE2222ED;
}

/* 7th line */
.link11{
  padding:20px 40px;
  background-color:#C4C4C433;
}
.link21{
 padding:20px 40px;
  background-color:#C4C4C433;
}
.link31{
  padding:20px 40px;
  background-color:#C4C4C433;
  
}
.link41{
  padding:20px 40px;
  background-color:#C4C4C433;
}
.link51{
  padding:20px 40px;
  background-color:#C4C4C433;
 
}
.link61{
 padding:20px 40px;
  background-color:#C4C4C433;
}


/* 8th line */
.disable1{
  padding:20px 40px;
  background-color:#C4C4C433;
}
.disable2{
 padding:20px 40px;
  background-color:#C4C4C433;
}
.disable3{
  padding:20px 40px;
  background-color:#C4C4C433;
 
}
.disable4{
 padding:20px 40px;
  background-color:#C4C4C433;
}
.disable5{
  padding:20px 40px;
  background-color:#C4C4C433;
 
}
.disable6{
padding:20px 40px;
  background-color:#C4C4C433;
}
.linkanddis{
  display:flex;
  flex-direction:row;
 top: -76px;
 
  gap:20px;
}


/* <!-- extra large to small --> */
.bglarge{
   display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.exlarge{
  font-size: 25px;
  padding: 30px 30px;
  background-color: #CE2222ED ;
}
.large{
  font-size: 23px;
  padding: 26px 60px;
  background-color:  #21E2E2 ;
}
.default{
  font-size: 21px;
  padding: 22px 50px;
  background-color: #CE2222ED ;
}
.medium{
  font-size: 19px;
  padding: 20px 50px;
  background-color:  #21E2E2 ;
}
.small{
  font-size: 17px;
  padding: 18px 50px;
  background-color: #CE2222ED ;
}

/* --------------------------------------- */

.borderlarge{
   display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.exlarge1{
  font-size: 25px;
  padding: 30px 30px;
  border: 2px solid #CE2222ED ;
}
.large1{
  font-size: 23px;
  padding: 26px 60px;
 border: 2px solid #21E2E2 ;
}
.default1{
  font-size: 21px;
  padding: 22px 50px;
 border: 2px solid #CE2222ED ;
}
.medium1{
  font-size: 19px;
  padding: 20px 50px;
 border: 2px solid #21E2E2 ;
}
.small1{
  font-size: 17px;
  padding: 18px 50px;
 border: 2px solid #CE2222ED ;
}



/* <!-- aligned --> */
.linebreak{
  width: 85%;
  height: 2px;
  background-color: gray;
 
}
.align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftalign{
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 120px ;
  gap: 30px;
}

/* <!-- definition --> */
.definition{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
   padding: 20px 120px;
}
.definition1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  font-size: 20px;
  text-align: center;
}
.definition2{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 30px 20px;
}
.definition3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 30px 20px;
}
.h3{
  color:#363D7A;
  font-family: 'Poppins', sans-serif;
}
.defline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* <!-- table --> */
.table{
 padding: 30px 200px;
  font-family: 'Poppins', sans-serif;
 
}
.america{
 height: 600px;
  width: 1000px;
  background-color: #C4C4C426;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.hash{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.countries{
   font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 90px;

}
.flag{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.visit{
   font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 140px;
}
.percentages{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 60px;
}

/* formsandbutton */
.formsandbutton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  margin-top: 60px;
 
}
.form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 3px solid gray;
  width: 60%;
  height: 100%;
   justify-content: center;
  align-items: center;
}
.form1, .form12{
  height: 40px;
  width: 95%;
  font-size: 20px;
  padding-left: 20px;
}
.form12{
  height: 160px;
  
}
.button{
  height: 100%;
  width: 30%;
  border: 3px solid gray;
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
  gap: 30px;
}
.select{
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #cfc4c4;
  outline: none;
}
option{
  color: black;
  background-color: white;
  font-size: 15px;
}
.check, .radio{
  display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: center;
  gap: 5px;
}
.check1, .radio1{
  font-size: 20px;
}

.check0, .radio0{
 height: 25px;
    width: 45px;
}
.gallery{
  display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 70px;
  padding: 50px;
  border: 10px dotted  #CE2222ED ;
}
.allimages{
  display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: center;
  gap: 15px;
}
.image0{
   display: flex;
   flex-direction: row;
   justify-content: center;
  align-items: center;
  gap: 15px;
}
.im{
  height: auto;
  width: auto;
}


/* FOOTER */
.footer{
  height: 750px;
  width: 100%;
  background-color: #0C1243CC;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
}
.stayupdated{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:50px;
}
.su1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 gap: 50px;
  height: 150px;
  width:650px;

}
.su2{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:50px;
   height: 150px;
  width:450px;
 
}
.esu1{
  height:45px;
  width:600px;
  background-color:white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
  position:relative;
  font-family: 'Poppins', sans-serif;
  font-size:20px;
  
}
.ssu1{
  background-color:#FAC231;
  height:45px;
  width:30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right:0px;
  position:absolute;
  color:white;
}
.stay{
  font-size:25px;
  font-family: 'Poppins', sans-serif;
  color:white;
  font-weight:bold;
 left: -235px;
}
.stay2{
   font-size:25px;
  font-family: 'Poppins', sans-serif;
  color:white;
  font-weight:bold;
  left: -70px;
}
.insidefooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 650px;
  width: 90%;
  gap: 40px;
  left: -50px;
}
.su2img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.fac{
   height:50px;
  width:60px;
  background-color:#3453C0D6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
.insta{
   height:50px;
  width:60px;
  background-color:#FAC231;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
.twitter {
   height:50px;
  width:60px;
  background-color:#CD2121;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.google{
  height:50px;
  width:60px;
  background-color:#253C8DD6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fourtopics{
  height:250px;
  width: 90%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  left: -155px;
}
.aboutus,.campus,.study,.support{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 30px;
}
.list1,.list2,.list3,.list4{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
}
.list11,.list22,.list33,.list44{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 15px;
  color: white;
}
.endline{
  height:2px;
  width: 100%;
  background-color: white;
  left: 0px;
}
.end{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 70px;
  height: 150px;
  width: 80%;
  left: -35px;
}
.endtxt{
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
}
.gs1{
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  background-color: black;
}