*{
  margin: 0px;
  padding: 0px;
  position:relative;
}
.nav{
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: left;
  gap: 380px;
 
  
  
}
.side{
   display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
  gap: 40px;
  justify-content: center;
  position: relative;
}
.clg{

  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  padding-bottom: 6px;
  padding-left: 30px;
}
.vec{
  height: 26px;
  width: 26px;
}
.img{
  height: 650px;
  width: 100%;
}
.app{
  background-color: #363D7A;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size:0.7em;
  height: 39px;
  width: 104px;
  position: absolute;
  right: -200px;
  letter-spacing: 1px;
  word-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #363D7A;
  object-position: center;
  transition: all 0.4s linear;
  border: 1px solid  #363D7A ;
}
.app:hover{
  background-color: white;
  color:  #31D9F0;
  border: 1px solid #31D9F0 ;

}
.dd, .dd2{
  height: 7px;
  width: 10px;
  padding-bottom: 1px;
}
.onimg{
  position: relative;
}
.img{
  position: relative;
}
.txt{
  position: absolute;
  top: 210px;
  font-family: 'Abril Fatface', cursive;
 font-size: 2.5em;
  left: 100px;
}
.gets{
  background-color: #31D9F0;
   height: 39px;
  width: 134px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  center;
  position: absolute;
  top: 380px;
  left: 100px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: white;
   transition: all 0.4s linear;
    border: 1px solid #31D9F0 ;
}
.gets:hover{
  background-color: white;
  color:  #31D9F0;
  border: 1px solid #31D9F0 ;
  font-weight: bold;
}

.ttour{
  background-color: white;
   height: 38px;
  width: 133px;
  border: 1px solid #0000009C ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  center;
  position: absolute;
  top: 380px;
  left: 250px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
.shs{
 padding: 0px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  height:120px;
  width:100%;
}
.png1{
  position: absolute;
  height: 26px;
  width: 30px;
 
} 
.png2{
  height: 30px;
  width: 30px;
} 
.png3{
  height: 30px;
  width: 30px;
}
.shs1{
  height: 70px;
  width:250px;
  background-color: #FAC231;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}
.shs2{
  height: 70px;
  width:250px;
  background-color: #253C8DD6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.shs3{
  height: 70px;
  width:250px;
  background-color: #31FAD6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
 
}
.jam, .bnd, .grp{
  position: absolute;
  height:50px;
  width:50px;
  border-radius:50%;
  background-color:white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
left: 20px;
}
.sch1, .sch2, .sch3{
  right: -30px;
}
.popu{
  height: 900px;
  width: 100%;
}
.top{
    font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.graduate{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  padding: 40px;
}
.g{
  background-color: #31D9F0;
  height: 40px;
  width: 105px;
  display:flex;
  justify-content: center;
  align-items:center;
  top: -11px;
  border-radius: 5px; 
  color: white;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.three{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  
}
.img1, .img2, .img3{
  height:460px;
  width:354px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: top;
  align-items: center;
  position:relative;
}
.img1txt, .img2txt, .img3txt{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 115px;
  width: 260px;
  font-size: 15px;
}
.now1, .now2, .now3{
  background-color: #31D9F0;
  height:39px;
  width: 139px;
  position: absolute;
  bottom: -90px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 6px;
  font-size: 12px;
   font-family: 'Roboto', sans-serif;
  color:white;
   transition: all 0.4s linear;
   border: 1px solid #31D9F0;
}
.now1:hover{
  background-color: white;
  border: 1px solid #31D9F0;
  color:  #31D9F0;
}
.now2:hover{
  background-color: white;
  border: 1px solid #31D9F0;
  color:  #31D9F0;
}
.now3:hover{
  background-color: white;
  border: 1px solid #31D9F0;
  color:  #31D9F0;
}
.vc{
  display:flex;
  justify-content:center;
  align-items:center;
  bottom: -70px;
}
.vc1{
  background-color:white;
  height: 60px;
  width: 200px;
  font-size:20px;
  display: flex;
  justify-content:center;
  align-items:center;
  border-radius: 7px;
   font-family: 'Roboto', sans-serif;
  border: 2px solid black;
}
.blueimg{
  height:710px;
  width:100%;
  margin:0px auto;
  background-image: url("blueimg.jpg");
  background-size: cover;
  
}
