*{
  margin: 0px;
  padding: 0px;
  position:relative;
}
.nav{
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  height: 55px;
  width: 98%;
  align-items: center;
  justify-content: left;
  gap: 350px;
 
  padding: 13px;
  
}
.side{
   display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3em;
  gap: 20px;
  justify-content: center;
  position: relative;
}
.clg{

  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  padding-bottom: 6px;
  
}
.vec{
  height: 26px;
  width: 26px;
}
.img{
  height: 600px;
  width: 100%;
}
.app{
  background-color: #363D7A;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size:0.8em;
  height: 40px;
  width: 105px;
  position: absolute;
  right: -200px;
  letter-spacing: 1px;
  word-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #363D7A;
  object-position: center;
  transition: all 0.4s linear;
}
.app:hover{
  background-color: white;
  color:  #31D9F0;
  border: 1px solid #31D9F0 ;

}
.dd, .dd2{
  height: 7px;
  width: 10px;
  padding-bottom: 1px;
}
.onimg{
  position: relative;
}
.img{
  position: relative;
}
.txt{
  position: absolute;
  top: 160px;
  font-family: 'Abril Fatface', cursive;
 font-size: 2.5em;
  left: 100px;
}
.gets{
  background-color: #31D9F0;
   height: 40px;
  width: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  center;
  position: absolute;
  top: 330px;
  left: 100px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: white;
   transition: all 0.4s linear;
}
.gets:hover{
  background-color: white;
  color:  #31D9F0;
  border: 1px solid #31D9F0 ;
  font-weight: bold;
}

.ttour{
  background-color: white;
   height: 38px;
  width: 133px;
  border: 1px solid #0000009C ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  center;
  position: absolute;
  top: 330px;
  left: 250px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
/* .shs{
  display: flex;
  flex-direction: row;
justify-content:space-around;
   height: 150px;
  width: 100%;
  align-items: center;
}
.shs1{
  background-color: #FAC231 ;
  border-radius: 10px;
height: 70px;
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}
.shs2{
  background-color:#253C8DD6 ;
  border-radius: 10px;
 height: 70px;
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.shs3{
  background-color:#31FAD6 ;
  border-radius: 10px;
  height: 70px;
  width: 260px;
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.grp{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}
.sch2{
  
  font-size: 13px;
   font-family: 'Roboto', sans-serif;
   display: flex;
  flex-direction: row;
  color: white;
} */
.shs{
 padding: 0px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  height:120px;
  width:100%;
}
.png1{
  position: absolute;
  height: 28px;
  width: 30px;
 
} 
.png2{
  height: 30px;
  width: 30px;
} 
.png3{
  height: 30px;
  width: 30px;
}
.shs1{
  height: 70px;
  width:250px;
  background-color: #FAC231;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.shs2{
  height: 70px;
  width:250px;
  background-color: #253C8DD6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.shs3{
  height: 70px;
  width:250px;
  background-color: #31FAD6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.jam, .bnd, .grp{
  position: relative;
  height:50px;
  width:50px;
  border-radius:50%;
  background-color:white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  
}