*{
  margin: 0px;
  padding: 0px;
  position:relative;
}

/* NAVBAR */
.nav{
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: left;
  gap: 380px; 
 position: fixed;
  z-index: 1;
}
.side{
   display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
  gap: 30px;
  justify-content: center;
  font-weight: bold;
}
.clg{

  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  padding-bottom: 6px;
  padding-left: 30px;
}
.vec{
  height: 26px;
  width: 26px;
}
.img{
  height: 650px;
  width: 100%;
}
.app{
  background-color: #363D7A;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size:0.6em;
  height: 39px;
  width: 104px;
  right: -55px;
  letter-spacing: 0px;
  word-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  object-position: center;
  transition: all 0.4s linear;
  border: 1px solid  #363D7A ;
}
.app:hover{
  background-color: white;
  color:  #31D9F0;
  border: 1px solid #31D9F0 ;
}
.dd, .dd2{
  height: 7px;
  width: 10px;
  padding-bottom: 1px;
}
.link1{
  text-decoration: none;
  color: black;
  transition: all 0.4s linear;
}
.link1:hover{
  color:  #31D9F0 ;
  
}


/* dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

.content {
  display: none ;
  position: absolute;
  background-color: #363D7A;
  min-width: 100px;
  height: 62px;
  z-index: 1;
  color: white;
  text-decoration: none;
 padding: 3px;
  border: 1px solid black;
 
}

.dropdown:hover .content {
  display: block;
}

.a1{
  text-decoration:none;
  color: black;
  font-size: 0.7em;
  display: flex;
  align-items:center;
   transition: all 0.4s linear;
}
.a1:hover{
   color:#31D9F0;
}
.c1{
  display: flex;
  align-items:center;
  padding-left:10px;
  height: 30px;
  width: 89px;
 font-size: 0.7em;
 font-family: 'Abril Fatface', cursive;
  background-color: lightblue;
}

.c1:hover{
  border: 0.5px solid #404040;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5),0px 0px 10px 0px rgba(0,0,0,0.5);
}

.c2{
  display: flex;
  align-items:center;
  padding-left:10px;
  height: 30px;
  width: 89px;
 font-size: 0.7em;
 font-family: 'Abril Fatface', cursive;
  background-color: lightblue;
  bottom: -1px;
}
.c2:hover{
     border: 0.5px solid #404040;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5),0px 0px 10px 0px rgba(0,0,0,0.5);
}

.blog{
  font-size: 0.7em;
  top:-1px;
}

/*dropdown page */
.dropdown2 {
  position: relative;
  display: inline-block;
}

.pagecontent {
 display: none ;
  position: absolute;
  background-color: #363D7A;
  min-width: 100px;
  height: 123px;
  z-index: 1;
  color: white;
  text-decoration: none;
 padding: 3px;
  border: 1px solid black;
}


.dropdown2:hover .pagecontent {
  display: block;
}


.c3{
  display: flex;
  align-items:center;
  padding-left:10px;
  height: 30px;
  width: 89px;
 font-size: 0.7em;
 font-family: 'Abril Fatface', cursive;
  background-color: lightblue;
   bottom: -2px;
}
.c4{
   display: flex;
  align-items:center;
  padding-left:10px;
  height: 30px;
  width: 89px;
 font-size: 0.7em;
 font-family: 'Abril Fatface', cursive;
  background-color: lightblue;
   bottom: -3px;
}

.c3:hover{
 border: 0.5px solid #404040;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5),0px 0px 10px 0px rgba(0,0,0,0.5);
}
.c4:hover{
   border: 0.5px solid #404040;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5),0px 0px 10px 0px rgba(0,0,0,0.5);
}

.page{
  font-size: 0.7em;
  top:-1px;
} 


.background{
  background: rgba(0,0,0,0.7) url("/images/signin.jpg");
  background-size: cover;
background-blend-mode: darken;
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup{
  background-color:  lightblue;
  height: 750px;
  width: 30%;
  border-radius: 20px;
  border: 2px solid black;
   display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 15px;
}
.logo{
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.topworld {
font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
}
.toppart{
  display: flex;
  
  align-items: center;
  flex-direction: column;
}
.quote{
   font-family: 'Roboto', sans-serif;
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}
.journey{
   font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
   font-size: 19px;
}
.email, .pass, .dob{
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightblue;
  outline: none;
  height: 45px;
  width: 90%;
  padding-left: 10px;
  font-size: 20px;
  color: gray;
   font-family: 'Roboto', sans-serif;
}
.dob{
  text-transform: uppercase;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}
label{
   font-family: 'Roboto', sans-serif;
}
.cont{
 width: 55%;
  background-color: black;
  font-size: 17px;
   font-family: 'Roboto', sans-serif;
  color: white;
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  letter-spacing: 3px;
}
.sign{
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.or{
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 20px;
  padding: 10px 0px;
}
.fb{
    display: flex;
  align-items: center;
  justify-content: center;
   font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
   width: 55%;
  background-color: rgb(12 64 153);
  font-size: 17px;
   height: 40px;
  border-radius: 10px;
  
}
.terms{
  font-size: 12px;
   font-family: 'Roboto', sans-serif;
   display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 90%;
  text-align: center;
}
.member{
   font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.linkm{
  text-decoration: none;
  
}